// Import variables and mixins
@import 'variables';
@import 'mixins';

// Import components
@import 'component/buttons';

// Base styles
body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    // background: url('/assets/img/user/home_bg.jpg') no-repeat center center fixed;
    // background-size: cover;
}

.main-content {
    min-height: calc(100vh - 140px);
    padding: 2rem 0;
}